/*logo loading*/
.ng-hide{
    display: none !important;
  }
.ng-show{
    display: block !important;
}  
/*logo loading*/
/*initial*/
a{
    color:#222
}
.row{
    margin-right:0px;
    margin-left:0px;
}
/*spaces*/
.space-10{
    display:block;
    height:20px;
}
/* @font-face {
    font-family: myFirstFont;
    src: url(font/Cairo-Regular.ttf);
  } */
*{
    text-align: right;
    font-family: myFirstFont,sans-serif;
}
.bg-w{
    background-color: white;
    border-radius:4px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.2);
    padding:1rem 2rem;
}


a:hover{
    text-decoration: none;
    cursor: pointer;
}
 


.spinner-img{
    height:125px;
    width:125px;
}
.margin-spinner{
    margin-top:8em;
}
/*nav*/
.bg-nav-cat {
    background-color:#f8f9fa;
  
}
.bg-nav-forex{
    background-color:#bb1919;
}
nav .navbar-collapse ul li a{
    color: #f8f9fa;
    font-weight: 600;
    transition: ease 0.3;
    
   }
  
.logo-nav{
height:120px;
width:180px;
}
.logo-pos{
    margin-left:auto;
}
.cat-link{
    border-right:rgb(173 164 164 / 50%) 1px solid ;
}
/*banner ads*/
.intro-ads-banner{
    width:100%;
    height:60px;
    max-height:100px;
}
/*/banner ads*/
/*time list*/
.time-wrap{
    display:inline-flex;
    
    flex-direction: row-reverse;
    margin:0px;
    width:-webkit-fill-available;
    font-size:14px;
    list-style: none;
    direction: ltr;
  
}
.h-n-lg{
    display:none;
}
.time-item{
    padding:1%;
    list-style: disc;
    margin:0px 10px;
}
.time-item:last-child{
    list-style: none;
}
.time-b{
    display:inline-flex;
    margin:0px 0.3em;
    line-height:initial;
}

/*time list
.sc-item{
font-size: 30px;
color:#3b5998;
margin:0px 2%;
}
*/

.navbar-expand-lg .navbar-nav .nav-link{
  
   padding:0px 10px;
}
a .nav-link{
    padding:0px
}

.navbar-dark .navbar-toggler{
         color: #f8f9fa;
   }


.nav-link{
   
        display: block;
        padding:0px;
        margin:0.5rem 0rem
       
}
.res-nav .navbar-nav {
    flex-direction: row-reverse ;
    -ms-flex-direction:row-reverse;
}
.bg-nav-forex .navbar-nav .nav-link{
    color:rgba(255, 255, 255, 0.9);
}
.bg-nav-cat .navbar-nav .nav-link{
    color:#7B756F;
}
.bg-nav-cat .navbar-nav .nav-link:hover{
    color:black; 
}
.bg-nav-cat .navbar-nav .active > .nav-link{
    color:black;
}

/*//nav*/  
/*index page*/
.marq-news{
    background-color:#f8f9fa ;
    float: left;
    width: 90%;
}
.marq-news-title{
    float:right;
    width:10%
}
.marq-news-apan{
    padding:0px 10px;
}
.card-side-news-main{
    width:100%;
    height:280px;

}
.card-side-new-img-main{
    height:280px;
    max-height:400px;
    width:49%;
   
    float:right;

}

.pro-img{
    width:100%;
    height:149px;
}
.side-news-title-wrap{
   
    height:89%;
    padding:1rem;
    float:left;
    width:49%
}
.card-index-news{
    width: 30%;
    display: inline-block;
    margin-left: 0.5rem;
    overflow:hidden;
    height:287px;
    border-width:0px;
    padding:1.25rem 0.5rem;
}
.intro-card{
    width:30%;
}
.news-heading-wrap{
    color: #222;
    position: relative;
    padding-top: 32px
}
.carousel-indicators-style{
    position:relative
}
.carousel-indicators-style li{
    background-color:rgb(173 ,164, 164 );
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.news-in-heading-title-wrap{
    position: relative;
   
}
 .news-in-heading:before      {
    content: '';
    position: absolute;
    height: 1px;
    background: #7B756F;
    left: 0px;
    right:  138px;
    top:49%;
}
.card-index-news-title{
  color:black;  
  font-weight: 700;
  font-size: 15px;
  height: 53px;
  overflow: hidden;
  margin-bottom:0px;
}
.card-index-news-title:hover{
    text-decoration: underline;
}
.card-index-news-txt{
    color:black;
    font-size:15px;
    font-weight:400;
    max-height: 70px;
    overflow: hidden;
}
.news-main-title{
    font-weight: 600;
    font-size: 20px;
    color:rgb(34, 32, 32);
    margin-bottom: 1.69rem;
    max-height:85px;
    overflow: hidden;
    display: block;
    padding-right:2%;
    line-height:initial;
}

.ads-txt{
    color:#7B756F;
    font-size:14px;
    padding:6px;

}

.cont-rel{
    position:relative;
}
.overlay{
    position: absolute;
    top:7px;
    right:0px;
    background-color:rgba(255,255 ,255,0.7);
    border-radius:0px 0px 0px 1.25rem;

}
.news-details{
    font-weight:500;
    font-size:14px;
    color:#5f5959;
    margin-bottom:0px;
    height: 88px;
    overflow: hidden;
    display: block;
    padding-right:2%;
}
.link-for-main-part{
    height:280px;
}
.more-det-link{
    text-align: left;
}
.btn-bg{
    background-color: gray;
    color:white
}
/*//index page*/
/*detals page*/
.det-img-banner{
    width:100%;
    height:250px;
    padding:2%;
    display:block;
}
.txt-title-detpg{
    font-size:18px;
    font-weight:600;
}


/*owl*/
.card-rel-news{
    width:100%;
}

.overlay-cont{
    position: relative;
    width: 100%;
}
.pro-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(225,225,225,.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  
}
.overlay-txt{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    text-transform: capitalize;
    left: 50%;
    font-family: secondfont;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay-txt:hover{
    color: white;   
    text-decoration:none;
}
.overlay-cont:hover .pro-overlay {
    height: 30%;
  }

/*//details page*/
/*font*/
  

  /*back ground */
 
  .opening-img{
    width:100%;
    height:300px;
      
  }

/*red bg*/
  .ads-img{
    
    width:100%;
    height:200px;
   

}
.card-txt-det{
    height: 68px;
    overflow: hidden;
}
.ads-details-img{
height:239px;
width:100%;
padding:2%;
}
/*det news pg*/
/*//det news pg*/
/*footer*/

.footer-bg{
    background-color: darkgray;
}
.footer-title{
    color:black;
    display: block;
    text-align: center;
    margin-bottom: 6%;
   
  }
.list li a i.fab{
      font-size:20px;
  }
.list-link li a{
display: block;
}
  .list{
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    }

.list li a {
      color: white;
      font-weight: 500;
      font-size: .9em;
     
      padding: .3em 0;
      
      text-align: center;
    }

/*bottom footer*/
.dsg{
    color:darkslategray;
    text-transform: capitalize;
    margin-bottom:0px;
    
}
.giraffe-code-link{
    font-weight:600;
    
}
/*//bottom part*/
/*//footer*/
/*font*/
.dark-txt{
    color:rgb(34, 32, 32);

}
/*//font*/
/*new cols for intro part*/
.col-sm-intro-car{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    
  }
  .col-sm-intro-forex{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;  
}
  
/*//new cols for intro part*/
/*responsive*/
@media screen and (max-width:576px){ 
       .bg-w {
           margin-top:10px;
             margin-bottom:10px ;
                    }

                    .row{
                        margin-left: 0px;
                        margin-right: 0px;
                  
                    }            
    .over-img-bg{
        padding:2px 1px
    }


    .show-xs{
        display:none;
     
      }
      .cat-link{
          border-color:transparent
      }
   nav .navbar-collapse ul li a{
   margin-right: 33%;
   margin-left: 33%;
   padding-bottom: 6px;
  }
  .res-nav .navbar-nav{
      flex-direction:column;
  }
  .time-item{
      display:inline-grid;
  }
 /* .time-wrap{
      display: inline-table;
      direction:rtl;
  }*/
  .news-main-title{
      font-size:1em;
  }
 
/*  .j-c-sm{
      display:grid;
      justify-content: center;
  }
*/
.container{
    padding:0px;
   
}
   
/*  .container-fluid{
    zoom:0.5;
    -ms-zoom: 0.5;
    width:200%;
  }*/
  .col-sm-intro-car{
    width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
 }
  .col-sm-intro-forex{
    
    width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    
  }
  
.nsfx_widget{
    height:1100px !important;
}    


  .col-sm-1 {width: 8.33% ;}
  .col-sm-2 {width: 16.66% ;}
  .col-sm-3 {width: 25% ;}
  .col-sm-4 {width: 33.33% ;}
  .col-sm-5 {width: 41.66% ;}
  .col-sm-6 {width: 50% ;}
  .col-sm-7 {width: 58.33% ;}
 .col-sm-8 {width: 66.66% ;}
 .col-sm-9 {width: 75% ;}
 .col-sm-10 {width: 83.33% ;}
 .col-sm-11 {width: 91.66% ;}
 .col-sm-12 {width: 100% ;}

                }


@media screen and (max-width:768px){
    .column-n-md {
        flex-direction: column !important;
    
    }
    .time-b{
        display:inline-flex;
        
    }
    .h-n-sm{
        display:none;
    }
    .h-n-lg{
        display:block;
    }
}  
    /*responsive for ipad
  
    @media screen and (max-width:1024px){

        .navbar-expand-lg .navbar-nav .nav-link{
      
            padding:0px 2px;
         }
    }
    @media screen and (max-width:768px){

        .res-nav{
            flex-direction: column;
            text-align: center;
           
        }
        .show-xs{
            display:none;
         
          }
          .cat-link{
            border-color:transparent
        }
        .mob-logo{
            display:block
        }
    }
    
    @media screen and (max-width:576px){
     
    
    }
    */