<!DOCTYPE html>
<html lang="en">

<head>
  <title>forex-steps</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
<link rel="icon" type="image/png" sizes="96x96" href="image/favicon-32x32.png">
<!-- Default Theme -->
<link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css">
 
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fontawesome-free-5.13.1-web/css/all.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
 
  <script src="js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
 
    <script src="js/bootstrap.min.js"></script>

  <!-- //Custom-Files -->


  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
/>
<!-- Include js plugin -->


<!--cdn angular-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
<script src="js/index.js"></script>
<script src="js/common.js"></script>

</head>

<body ng-app="myApp" ng-controller="myNewsDetailsCtrl">
  <div class="container d-flex justify-content-center" data-loading>
    <div class="margin-spinner">
       <img src="image/logo-edit.png" alt="logo" class="img-responsive animate__animated animate__pulse  animate__infinite	infinite spinner-img">
    </div>
  </div>
  <div class="" data-loaded>
  <div class="container-fluid px-0" >
  <div class="container ">
       
    <!--top header-->
    <nav class="navbar   navbar-light bg-light">
      <a  href="index.html" class="ml-auto">
        <img src="image/logo-edit.png"  class="img-responsive logo-nav" >
      </a>
    </nav>
    <!--//top header-->

    <!--nav cat-->

    <nav class="navbar navbar-expand-lg res-nav bg-nav-cat px-0  p-0">
  
      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_top">
        <span class="navbar-toggler-icon"></span>
      </button>
     
        <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_top">
          <ul class="navbar-nav mr-2 ml-auto ">
            <li class="nav-item active" >
              <a class="nav-link" href="index.html">
                الرئيسية
              </a>
            </li>
          
            <li class="nav-item" ng-repeat="category in arrCategory">
             
              <a class="nav-link cat-link" href="index.html#{{category.name}}">
                {{category.name}}
              </a>
           
          </li>

               
                       
          </ul>
        </div>
      </nav>
     <!--//nav cat-->

     <!--nav forex-->

    <nav class="navbar navbar-expand-lg res-nav bg-nav-forex px-0 navbar-dark p-0">
  
        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_bottom">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_bottom">
            <ul class="navbar-nav mr-2 ml-auto ">
              <li class="nav-item active" ng-repeat="category in arrCategory">
                <a class="nav-link" href="index.html#{{category.name}}">
                  {{category.name}}
                </a>
              </li>

            </ul>
          </div>
        </nav>
       <!--//nav forex-->
    
        
     <!--intro-->
   <div class="bg-w">  
     <div class="d-flex flex-row-reverse">
      <div class="col-sm-7 offset-sm-1">
        <img ng-src="{{news.image}}" class="img-responsive det-img-banner">  
        <div class="text-title-wrap-detpg">
          <p class="txt-title-detpg">{{news.title}}</p>
         
          <p class="txt-newdet-detpg" ng-bind-html="news.body"></p>
          <p><h4>
            <span class="badge mx-2 badge-secondary"  ng-repeat="newsTags in tags">{{newsTags}}</span> 
            <!-- <span class="badge badge-secondary"> وزير التربية #</span> -->
          </h4></p>
        </div>
      </div> 

      <div class="col-sm-3" >
        <div class="cont-rel"> 
          <a href="{{ads.link}}">
            <img ng-src="{{ads.image}}" alt="ads"class="my-2 img-responsive ads-details-img">
          </a>
           <!-- <p>{{ads.link}}</p> -->
         <div class="overlay">
           <p class="ads-txt mb-0">ads choice</p>  
         </div>
        </div>

        
     </div> 

     </div>
   </div>
  
   <!--//intro-->
     <div class="row">
      <div class="space-10"></div>
  </div>

<!--product-->

<div class="d-flex flex-row-reverse">
  <div class="col-sm-4">
     <h5 class="dark-txt ">اخبار ذات صله</h5>  
  </div> 
 </div>
 <div class="row">
   <div class="space-10"></div>
</div>
<!--//product-->   
<!--fixed news-->
 <div class="row  justify-content-center"> 
    <div class="col-sm-3" ng-repeat="RelatedNews in arrNewsAttachedtoCategory">
      <div class="card card-rel-news" >
         <a ng-click="setNewsId(RelatedNews.id)"><img ng-src="{{RelatedNews.image}}" class="card-img-top pro-img img-responsive" alt="...">
           <div class="card-body">
              <p class="card-text card-txt-det">{{RelatedNews.title}}
              </p> 
           </div>   
         </a>
      </div>
    </div>
   

 </div>
<!--//fixed news-->


  <!--product-->

    <div class="d-flex flex-row-reverse">
     <div class="col-sm-4">
        <h5 class="dark-txt ">اخبار تهمك</h5>  
     </div> 
    </div>
    <div class="row">
      <div class="space-10"></div>
  </div>
<!--//product-->   
<!--fixed a5bar tahemak-->
<div class="row  justify-content-center"> 
  <div class="col-sm-3" ng-repeat="similarNews in arrNewsAttachedToTitle">
    <div class="card card-rel-news" > 
       <a ng-click="setNewsId(similarNews.id)"><img ng-src="{{similarNews.image}}" class="card-img-top pro-img img-responsive" alt="...">
         <div class="card-body">
            <p class="card-text card-txt-det">{{similarNews.title}}
            </p> 
         </div>   
       </a>
    </div>
  </div>
 

</div>
      
        </div>
  <!--//prod car-->
</div>





<!--footer-->
    <div class="footer-bg ">
       <div class="row justify-content-center py-5">
        <div class="col-sm-3">
         
          <ul class="list ">
            <li> <h3 class="footer-title">اشترك عبر </h3></li>
            <li class="d-flex justify-content-center">
              <a href="#"class="mx-3"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="mx-3"><i class="fab fa-instagram"></i></a>    
            </li>
          </ul>
        </div>

        <div class="col-sm-3 d-flex justify-content-center ">
          
          <a  href="index.html">
            <img src="image/logo-edit.png"  class="img-responsive logo-nav" >
          </a>
        </div>
        
        <div class="col-sm-3 ">
          
          <ul class="list list-link" >
            <li><h3 class="footer-title">روابط سريعه</h3></li>
          
            <li><a href="index.html#{{category.name}}" ng-repeat="category in arrCategory">{{category.name}}</a></li>
          
            <!-- <li><a href="#">اسعار العملات</a></li>
          <li><a href="#">شركات فوركس</a></li> 
          <li><a href="#">تحويل العملات</a></li> -->
      
          </ul>
        </div>

       </div>
    </div>
    <!--bottom part-->
    <div class="row bg-light py-3 justify-content-center">
      <p class="dsg mx-1"> design and development by<a class="giraffe-code-link" href="http://www.giraffecode.com/"> giraffe code.</a></p>
      <p class="dsg mx-1"><i class="far fa-copyright"></i>forex steps حقوق النشر محفوظة</p>
    </div>
    <!--//bottom part-->
<!--footer-->

</div>
</div>
</body>
</html>
<script>
  

  if (document.body.clientWidth < 576) {
  viewport = document.querySelector("meta[name=viewport]");
  viewport.setAttribute('content', 'width=device-width, initial-scale=0.1, user-scalable=yes');
  
}

</script>

