<!DOCTYPE html>
<html  lang="en">
    <head>
        <title>forex-steps</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=1000">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/fontawesome-free-5.13.1-web/css/all.css">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-32x32.png">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
        />
        <script src="js/jquery.min.js"></script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
        </script>
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Include js plugin -->
        <script src="OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>

        <!--for nfx widget-->
        <script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/widgetimplementation.js"></script>
        <script type="text/javascript" src="https://world.nsfx.com/tabs/partners_widgets/resources/scripts/widgetimplementation.js"></script>
        <script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/jquery.js"></script>
        <script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/jquery.js"></script>
        <!--//end nfxs widget-->

        <!--cdn angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
        <script src="js/index.js"></script>
        <script src="js/common.js"></script>
    </head>

    <body ng-app="myApp" ng-controller="myCtrl">
        <div class="container d-flex justify-content-center" data-loading>
            <div class="margin-spinner">
                <img src="image/logo-edit.png" alt="logo" class="img-responsive animate__animated animate__pulse  animate__infinite	infinite spinner-img">
            </div>
        </div>
        <div class="" data-loaded>
            <div class="container-fluid px-0">
                <div class="container ">       
                    <!--top header-->
                    <nav class="navbar   navbar-light bg-light">
                        <a  href="index.html"  class="logo-pos">
                            <img src="image/logo-edit.png"  class="img-responsive logo-nav" >
                        </a>
                    </nav>
                    <!--//top header-->

                    <!--ads banner-->
                    <div class="row my-3">
                        <div class="col-sm-6">
                            <img class="intro-ads-banner" alt="" src="image/ads-intro.gif">
                        </div>
                        <div class="col-sm-6">
                            <img class="intro-ads-banner" alt="" src="image/ads-2-intro.gif">
                        </div> 
                    </div>
                    <!--//ads banner-->  

                    <!--nav cat-->
                    <nav class="navbar navbar-expand-lg res-nav bg-nav-cat px-0 navbar-dark p-0">
                        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_top">
                            <span class="navbar-toggler-icon"></span>
                        </button>        
                        <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_top">
                            <ul class="navbar-nav mr-2 ml-auto ">
                                <li class="nav-item active" >
                                    <a class="nav-link" href="index.html">
                                        الرئيسية
                                    </a>
                                </li>
                                <li class="nav-item" ng-repeat="category in arrCategory">              
                                    <a class="nav-link cat-link" ng-click="setCategoryId(category.id)">
                                        {{category.name}}
                                    </a>
                                </li>                      
                            </ul>
                        </div>
                    </nav>
                    <!--//nav cat-->

                    <!--nav forex-->
                    <nav class="navbar navbar-expand-lg res-nav bg-nav-forex px-0 navbar-dark p-0">
                        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_bottom">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_bottom">
                        <ul class="navbar-nav mr-2 ml-auto ">
                            <li class="nav-item active" ng-repeat="category in arrCategory">
                                <a class="nav-link cat-link" ng-click="setCategoryId(category.id)">
                                    {{category.name}}
                                </a>
                            </li>
                        </ul>
                        </div>
                    </nav>
                    <!--//nav forex-->

                    <!--News part-->              
                    <div> 
                        <div>
                            <!--title-->
                            <div class="row  d-flex mt-3 mb-5 flex-row-reverse" >
                                <div class="col-sm-12 " >
                                    <div class="news-heading-wrap ">
                                        <div class="news-in-heading-title-wrap news-in-heading" id={{categoryNews.category.id}}>
                                            <h5 class=""> {{ arrRelatedNewsCategory.category[0].name }}</h5>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                            <!--//title-->     
                            <div class="row  d-flex mt-3 mb-5 flex-row-reverse">
                                <!-- News -->
                                <div class="col-sm-8 j-c-sm px-0">
                                    <div class="card card-index-news" ng-repeat="relatedNews in arrRelatedNewsCategory.news.data">
                                        <a ng-click="newsDetails(relatedNews.id)"><img ng-src="{{relatedNews.image}}" class="card-img-top pro-img img-responsive" alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title card-index-news-title">{{relatedNews.title}}</h6>                 
                                                <p class="card-text card-index-news-txt" ng-bind-html="relatedNews.body"></p> 
                                            </div>   
                                        </a>
                                    </div>
                                    <h5 ng-if="arrRelatedNewsCategory.news.total == 0">لا يوجد أخبار حتى الأن</h5>
                                    <ul ng-if="arrRelatedNewsCategory.news.total != 0" class="pagination" style="text-align: center; padding-left: 310px;">
                                        <li 
                                            class="page-item"
                                            ng-class="{true: 'disabled'}[arrRelatedNewsCategory.news.prev_page_url == null]">
                                            <a 
                                                class="page-link"  
                                                ng-click="relatedNewsCategoryPagination(arrRelatedNewsCategory.news.prev_page_url)">
                                                &laquo; السابق
                                            </a>
                                        </li>
                                        <!-- style="color: #BB1919;"  href="{{arrRelatedNewsCategory.news.last_page_url}}" -->
                                        <li 
                                            class="page-item"
                                            ng-class="{true: 'disabled'}[arrRelatedNewsCategory.news.next_page_url == null]">
                                            <a 
                                                class="page-link" 
                                                ng-click="relatedNewsCategoryPagination(arrRelatedNewsCategory.news.next_page_url)">
                                               التالي &raquo;
                                            </a>
                                        </li>
                                        <!-- href="{{arrRelatedNewsCategory.news.next_page_url}}" -->
                                    </ul>
                                </div>
                                <!-- //News -->

                                <!-- Ad -->
                                <div class="col-sm-4">
                                    <div class="cont-rel"> 
                                        <a href="{{ arrRelatedNewsCategory.ad[0].link }}" target="_blank">
                                            <img ng-src="{{ arrRelatedNewsCategory.ad[0].image }}"alt="ads"class="my-2 img-responsive ads-img">
                                        </a>
                                        <div class="overlay">
                                            <p class="ads-txt mb-0">ads choice</p>  
                                        </div>
                                    </div>
                                </div> 
                                <!-- //Ad -->
                            </div> 
                        </div> 
                    </div>  
                    <!--//News part-->

                    <!--footer-->
                    <div class="footer-bg ">
                        <div class="row justify-content-center py-5">
                            <div class="col-sm-3">      
                            <ul class="list ">
                                <li> <h3 class="footer-title">اشترك عبر </h3></li>
                                <li class="d-flex justify-content-center">
                                <a href="#"class="mx-3"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="mx-3"><i class="fab fa-instagram"></i></a>    
                                </li>
                            </ul>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center">       
                                <a  href="index.html">
                                    <img src="image/logo-edit.png"  class="img-responsive logo-nav" >
                                </a>
                            </div>   
                            <div class="col-sm-3 ">     
                                <ul class="list list-link">
                                    <li><h3 class="footer-title">روابط سريعه</h3></li>
                                    <li ng-repeat="category in arrCategory">
                                    <a href="#{{category.id}}">  {{category.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--bottom part-->
                    <div class="row bg-light py-3 justify-content-center">
                        <p class="dsg mx-1"> 
                            design and development by
                            <a class="giraffe-code-link" href="http://www.giraffecode.com/"> giraffe code.</a>
                        </p>
                        <p class="dsg mx-1"><i class="far fa-copyright"></i>forex steps حقوق النشر محفوظة</p>
                    </div>
                    <!--//bottom part-->
                    <!--//footer-->
                </div>
            </div>
        </div>
    </body>
</html>